In [2]:
import numpy as np
import pandas as pd

In [4]:
labels = ['a', 'b', 'c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10, 'b':20, 'c':30}

In [10]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data=my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### Dataframes

In [15]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [16]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -0.520775 -0.377165
   2  1.058017 -1.024164
   3  1.078445 -0.048562
G2 1 -0.982225  0.691772
   2 -0.612999  1.292441
   3 -2.224342  0.364176

In [20]:
df.loc['G2'].loc[1]

A   -0.982225
B    0.691772
Name: 1, dtype: float64

In [21]:
type(df.loc['G2'].loc[1])

pandas.core.series.Series

In [26]:
df.index.names = 'Groups Num'.split()

In [27]:
df.index.names

FrozenList(['Groups', 'Num'])

In [28]:
df

                   A         B
Groups Num
G1     1   -0.520775 -0.377165
       2    1.058017 -1.024164
       3    1.078445 -0.048562
G2     1   -0.982225  0.691772
       2   -0.612999  1.292441
       3   -2.224342  0.364176

In [32]:
df.loc['G2'].loc[2]['B']

1.2924412301431005

In [33]:
df

                   A         B
Groups Num
G1     1   -0.520775 -0.377165
       2    1.058017 -1.024164
       3    1.078445 -0.048562
G2     1   -0.982225  0.691772
       2   -0.612999  1.292441
       3   -2.224342  0.364176

In [34]:
df.xs(1, level='Num')

               A         B
Groups
G1     -0.520775 -0.377165
G2     -0.982225  0.691772